@page "/EditPassenger/{PassengerId}"
@inject PassengerService _passengerService;
@inject NavigationManager _navigationManager;

<h3>EditPassenger</h3>

@if(Passenger == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@Passenger"  OnValidSubmit="@UpdatePassengerAsync">
        <PassengerFields Passenger="@Passenger"></PassengerFields>
        <button type="submit" class="btn btn-success">
            <span class="oi-pencil"></span>
            Update Passenger
        </button>
        <button type="button" class="btn btn-secondary" @onclick="Close">
            <span class="oi oi-media-skip-backward"></span>
            Close
        </button>
    </EditForm>

}
@code {
     [Parameter]
    public string PassengerId{ get; set; }

    public Passenger Passenger{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        Passenger = await _passengerService.GetPassengerAsync(int.Parse(PassengerId));
    }

    private void Close()
    {
        _navigationManager.NavigateTo($"/PassengerList/{Passenger.FlightId}");
    }

    private async Task UpdatePassengerAsync()
    {
        await _passengerService.UpdatePassenger(Passenger);
        Close();
    }

}
