<div class="carrierFields">
    <label for="carrierName">Name</label>
    <InputText id="carrierName" @bind-Value="@Carrier.Name" class="form-control"></InputText>

    <label for="carrierCountry">Country</label>
    <InputText id="carrierCountry" @bind-Value="@Carrier.Country" class="form-control"></InputText>
</div>

@code {
    [Parameter]
    public Carrier Carrier { get; set; }
}
